html,
body {
    height: 100%;
    width: 100%;
    position: relative;
}

.main {
    width: 1024px;
    height: 100%;
    padding-top: 70px;
}

.form-sign-up, .form-sign-in {
    width: 300px;
    margin-left: auto;
    margin-right: auto;
}